$neutral_900: hsl(243, 96%, 9%);
$neutral_800: hsl(243, 27%, 20%);
$neutral_700: hsl(243, 23%, 24%);
$neutral_600: hsl(243, 23%, 30%);
$neutral_300: hsl(240, 6%, 70%);
$neutral_200: hsl(250, 6%, 84%);
$neutral_0: hsl(0, 0%, 100%);
$blue_500: hsl(233, 67%, 56%);
$blue_700: hsl(248, 70%, 36%);
$orange_500: hsl(28, 100%, 52%);
$dm_sans: "DM Sans", sans-serif;
$bricolage: "Bricolage Grotesque", sans-serif;

@mixin input-bg {
    background-color: $neutral_600;
    background-size: 16px;
    padding: 8px 8px 8px 32px;
    /* padding-left: 32px; */
    color: $neutral_0;
    border-radius: 8px;
    border: none;
}

@mixin flex-cl {
    display: flex;
    flex-direction: column;
}

@mixin buttons {
    padding: 8px;
    border: none;
    border-radius: 8px;
    color: white;
}
