@use "mixins.scss";

//

$neutral_900: hsl(243, 96%, 9%);
$neutral_800: hsl(243, 27%, 20%);
$neutral_700: hsl(243, 23%, 24%);
$neutral_600: hsl(243, 23%, 30%);
$neutral_300: hsl(240, 6%, 70%);
$neutral_200: hsl(250, 6%, 84%);
$neutral_0: hsl(0, 0%, 100%);
$blue_500: hsl(233, 67%, 56%);
$blue_700: hsl(248, 70%, 36%);
$orange_500: hsl(28, 100%, 52%);
$dm_sans: "DM Sans", sans-serif;
$bricolage: "Bricolage Grotesque", sans-serif;

//

* {
    margin: 0;
    padding: 0;
    font-family: $dm_sans;
    color: white;
}

body {
    font-size: 18px;
    background-color: $neutral_900;
    padding: 3rem;
}

header {
    display: flex;
    justify-content: space-between;
}

#main-header {
    color: white;
    font-family: $bricolage;
}

#main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.icon {
    width: 16px;
    height: auto;
}

input {
    background: url("assets/images/icon-search.svg") no-repeat 8px;
    @include mixins.input-bg;
    :focus {
        outline: none;
        border: none;
    }
}

fieldset {
    border: none;
    @include mixins.flex-cl;
    row-gap: 5px;
    legend {
        font-size: 14px;
        color: $neutral_300;
    }
}

#search-btn {
    @include mixins.buttons;
    background-color: $blue_500;
    width: 120px;
    height: 48px;
}

.dropdown-item {
    :hover {
        font-weight: 700;
        background-color: red;
    }
}

#search-dropdown {
    list-style: none;
    @include mixins.input-bg;
}

#search {
    display: flex;
    flex-direction: row;
}

#units-button {
    @include mixins.buttons;
    background-color: $neutral_600;
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 4px;
    width: 120px;
    height: 44px;
}

#units-dropdown {
    background-color: $neutral_600;
    @include mixins.flex-cl;
    padding: 5px;
    border-radius: 1rem;
    row-gap: 3px;
}

// #imperial-btn {
//     background-color: $neutral_600;
// }

// .menu-header {
//     font-size: 16px;
//
// }

// .menu-option {
//     background-color: $neutral_700;
//     padding: 3px 12px;
//     border-radius: 4px;
// }

.menu-partition {
    @include mixins.flex-cl;
}

#units-menu {
    @include mixins.flex-cl;
    align-items: flex-end;
}

.units-btn {
    background-color: $neutral_700;
    padding: 3px 12px;
    border: none;
    border-radius: 8px;
    width: 200px;
    height: 40px;
    text-align: left;
}

.selected {
    background-color: $neutral_600;
}

hr {
    color: $neutral_300;
    margin: 6px 0;
}

#select-units {
    @include mixins.flex-cl;
    position: relative;
}

#units-dropdown {
    position: absolute;
    top: 100%;
    right: 0%;
    z-index: 100;
    opacity: 1;
    pointer-events: auto;
    transition: opacity 0.3s ease;
}

#units-dropdown.hidden {
    // display: none;
    // transition: transform 0.5 ease;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.3s ease;
}

.active img {
    transform: rotate(180deg);
    // transition: transform 0.3s ease;
}
